__pycache__
*.pyc
*.csv
*.parquet
.DS_Store
.idea
src/api/config.py
data/*.pkl
data/*.csv
data/*.txt
data/*.tsv
data/*.parquet
data/.DS_Store
!data/df_stream_sample.txt
!data/df_tweets_sample.txt
!data/locations_mapping.tsv
!data/locations_unmapped.tsv
text_preprocess/tweetstream_txt.py
output/*
!output/20200421_191436/