__pycache__
*.pyc
*.csv
*.parquet
.DS_Store
*/.DS_Store
.idea
src/api/config.py
data/*.pkl
data/*.csv
data/*.txt
data/*.tsv
data/*.parquet
!data/dict_synonymns.pkl
!data/dict_emoji_flags.txt
!data/df_stream_sample.txt
!data/df_tweets_sample.txt
!data/df_place2geonameid.pkl
!data/df_place2geonameid.tsv
!data/locations_mapping.tsv
!data/locations_unmapped.tsv
!data/df2geonameid.pkl
!data/df2geonameid.tsv
!data/sample_data_for_mockup.json
text_preprocess/tweetstream_txt.py
output/*
!output/20200421_191436/